{% extends 'base.html' %}
{% load static %}

{% block title %}DASHBOARD{% endblock %}

{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    {% include 'partials/_search.html' %}
    
    {% include 'partials/_header.html' %}

    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Olá, {{ user.username.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
     </div>

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if receitas %}
                    {% for receita in receitas %}
                        <!-- Single Best Receipe Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                {% if receita.foto_receita %}
                                    <img src="{{ receita.foto_receita.url }}" alt="" style="width: 350px; height: 350px;">
                                {% else %}
                                    <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="" style="width: 350px; height: 350px;">
                                {% endif %}
                                <div class="receipe-content">
                                    <a href="{% url 'receitas_receita' receita.id %}">
                                        <h5>{{ receita.nome }}</h5>
                                        {% comment %} <h6>{{ receita.data_receita }}</h6> {% endcomment %}
                                    </a>
                                    {% if not receita.publicar %}
                                        <button class="button">Publicar</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        {% if request.path == '/buscar' %}
                            </h2>Receita não encontrada... :(</h2>
                        {% else %}
                            <h2>Opa, ainda estamos sem receitas por aqui... :(</h2>
                        {% endif %}
                {% endif %}

            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/_footer.html' %}
{% endblock content %}